<div class="about-txtimg-info-text">
  <p id="firstInfoAbout">
    My name is <strong>Eric</strong> —although my friends call me <strong
      >“Cirelema”</strong
    >—, I'm <strong>22 years old</strong> and from <strong
      >Barcelona, Spain</strong
    >. At first, I considered pursuing a career in the <strong
      >animal care sector</strong
    >, as it's always been one of my greatest passions. However, after an
    internship, I discovered that it also has very tough moments, so I decided
    to make the leap into <strong>programming</strong>.
  </p>
  <p id="secondInfoAbout">
    Since then, I've enjoyed creating <strong>intuitive</strong> and <strong
      >visually appealing</strong
    > web experiences. I'm passionate about the <strong>visual side</strong> and
    <strong>interface design</strong>, because I believe aesthetics are key to
    delivering the best possible user experience.
  </p>
  <p id="thirdInfoAbout">
    I completed my studies as a <strong>Web Developer</strong> and <strong
      >Systems Administrator</strong
    >. During my Higher Vocational Training, I stood out by helping my
    classmates learn <strong>CSS</strong> — sharing knowledge and promoting good
    design are essential values for me.
  </p>
  <p id="quarterInfoAbout">
    I now have experience developing <strong>web applications</strong>, and my
    goal is to combine my two greatest passions —<strong>programming</strong> and
    the <strong>animal world</strong>— by creating projects that help improve
    the lives of animals.
  </p>
  <p id="fifthInfoAbout">
    Outside of tech, I’m passionate about the <strong
      >world of motor vehicles</strong
    >, <strong>sports</strong>, <strong>fashion</strong> in my own style, and <strong
      >animals</strong
    >. I also value <strong>solitude</strong>, but I truly enjoy spending time
    with my <strong>family</strong> and <strong>close friends</strong>.
    Emotional and inspiring movies, especially those with a meaningful message,
    are my favorites — like <em>The Iron Giant</em>, <em
      >The Lord of the Rings</em
    >, or <em>I Am Legend</em>.
  </p>
</div>

<style>
  .about-txtimg-info strong {
    color: #a285d1;
  }

  .about-txtimg-info-text p {
    margin-top: 15px;
    line-height: 1.5;
  }

  strong {
    color: #a285d1;
  }
</style>
