---
// SocialLinks.astro
import { Icon } from "astro-icon/components";

const links = [
  {
    href: "https://open.spotify.com/user/ericperezvera02",
    icon: "mdi:spotify",
    text: "Follow on Spotify",
    label: "Spotify"
  },
  {
    href: "https://www.instagram.com/eriicpz___/",
    icon: "mdi:instagram",
    text: "Follow on Instagram",
    label: "Instagram"
  },
  {
    href: "https://www.linkedin.com/in/ericperezvera",
    icon: "mdi:linkedin",
    text: "Follow on LinkedIn",
    label: "LinkedIn"
  },
  {
    href: "mailto:ericperezvera02@gmail.com",
    icon: "mdi:email-outline",
    text: "Send Email",
    label: "Email"
  },
  {
    href: "https://github.com/CIRE5902",
    icon: "mdi:github",
    text: "Follow on GitHub",
    label: "GitHub"
  },
  {
    href: "https://www.figma.com/@d5318559_4aaa_4",
    icon: "solar:figma-bold",
    text: "Follow on Figma",
    label: "Figma"
  }
];
---

<div class="about-txtimg-socialMedia">
  <ul>
    {links.map(({ href, icon, text, label }) => (
      <li>
        <a href={href} target="_blank" rel="noopener noreferrer" aria-label={label}>
          <div>
            <Icon name={icon} class="about-icons" />
            <span>{text}</span>
          </div>
        </a>
      </li>
    ))}
  </ul>
</div>

<style>
  .about-txtimg-socialMedia ul {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 15px;
    list-style: none;
  }

  .about-txtimg-socialMedia a {
    text-decoration: none;
    color: inherit;
  }

  .about-txtimg-socialMedia li div {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    width: 200px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .about-txtimg-socialMedia li div:hover {
    background-color: var(--purple-dark);
    color: #fff;
    box-shadow:
      0 0 10px var(--purple-dark),
      0 0 40px var(--purple-dark),
      0 0 80px var(--purple-dark);
  }

  .about-icons {
    width: 25px;
    height: 25px;
    fill: currentColor;
    transition: transform 0.3s ease;
  }

  .about-txtimg-socialMedia li div:hover .about-icons {
    transform: scale(1.2);
  }

  @media screen and (max-width: 850px) {
    .about-txtimg-socialMedia ul {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 20px;
    }
  }

  @media screen and (max-width: 550px) {
    .about-txtimg-socialMedia ul {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 10px;
    }
  }

  @media screen and (min-width: 1250px) {
    .about-txtimg-socialMedia ul {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 15px 75px;
    }
  }
</style>
