---
// src/pages/contact.astro
import BaseLayout from "../layouts/BaseLayout.astro";

import Title from "../components/common/PageTitle.astro";
import ContactInfo from "../components/contact/ContactInfo.astro";
import ContactForm from "../components/contact/ContactForm.astro";
---

<BaseLayout>
    <main class="content">
        <Title text="CONTACT ME" id="contactTitle" />
        <div class="contact">
            <ContactInfo />
            <ContactForm />
        </div>
    </main>
</BaseLayout>

<style>
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  @media (max-width: 1158px) {
    .contact {
      grid-template-columns: 1fr;
    }
  }
</style>
