---
// src/pages/index.astro
import { defaultLang } from '../i18n/ui';

export const prerender = true;

const redirectUrl = `/${defaultLang}`;
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
    <meta name="robots" content="noindex">
  </head>
  <body>
    <p>Redirigiendo a <a href={redirectUrl}>{redirectUrl}</a>...</p>
  </body>
</html>
