---
import { Image } from "astro:assets";
import imageAvatar from "../../../assets/images/avatar2.png";
import { useTranslations } from "../../../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
const saludo = t("avatarMessages.greeting");
---

<div class="ia-character" data-saludo={saludo}>
  <Image src={imageAvatar} class:list={["ia-avatar"]} alt="avatar" />
  <div id="ia-bubble" class="ia-bubble"></div>
</div>

<style>
  .ia-character {
    position: absolute;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    z-index: 10;
    bottom: 0%;
    left: 30%;
  }

  .ia-avatar {
    width: 120px;
    height: 150px;
    cursor: pointer;
  }

  .ia-bubble {
    min-width: 100px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.85);
    color: #333;
    font-family: "Courier New", monospace;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateY(-50%);
    display: none;
  }

  .ia-bubble::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.85);
    border-bottom: 0;
    border-right: 0;
    margin-left: -5px;
  }
</style>

<script is:inline>
  const saludo = document.querySelector(".ia-character")?.dataset?.saludo;
  const bubble = document.getElementById("ia-bubble");

  function showBubble(text) {
    if (!bubble || !text) return;
    bubble.textContent = text;
    bubble.style.display = "block";
  }

  function hideBubble() {
    if (!bubble) return;
    bubble.style.display = "none";
    bubble.textContent = "";
  }

  document.addEventListener("DOMContentLoaded", () => {
    showBubble(saludo);

    window.addEventListener("ia-habla", (event) => {
      const texto = event.detail.texto;
      if (typeof texto === "string") {
        showBubble(texto);

        setTimeout(() => {
          hideBubble();
        }, 5000);
      }
    });
  });
</script>
