---
import { Image } from "astro:assets";
import ImageMP3 from "../../../assets/images/riddleRoom/mp3.png";
import { useTranslations } from "../../../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
const mp3HoverMessage = t("mp3Messages.hover");
---
<div class="mp3" data-msg={mp3HoverMessage} onmouseenter="sendMp3Message()" onclick="sendMp3Message()">
  <Image src={ImageMP3} class:list={["ipods-img"]} alt="iPods" />
</div>

<script is:inline>
  function sendMp3Message() {
    const el = document.querySelector(".mp3");
    const mensaje = el?.dataset?.msg || "Sin mensaje";
    window.dispatchEvent(new CustomEvent("ia-habla", {
      detail: { texto: mensaje }
    }));
  }
</script>

<style is:global>
  .mp3 {
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    right: 40%;
    width: 45px;
    height: 45px;
  }

  .mp3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
</style>
