---
import { Image } from "astro:assets";
import ImagePS3 from "../../../assets/images/riddleRoom/ps3.png";
import ImageMandoPs3 from "../../../assets/images/riddleRoom/mando-ps3.png";
import { useTranslations } from "../../../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
const ps3HoverMessage = t("ps3Messages.hover");
---

<div class="ps3" data-msg={ps3HoverMessage} onmouseenter="interactWithPS3()">
  <Image src={ImagePS3} class:list={["ps3-img"]} alt="PS3" />
  <Image src={ImageMandoPs3} class:list={["mando-img", "mando-left"]} alt="Mando izquierdo" />
  <Image src={ImageMandoPs3} class:list={["mando-img", "mando-right"]} alt="Mando derecho" />
</div>

<script is:inline>
  function interactWithPS3() {
    const el = document.querySelector(".ps3");
    const mensaje = el?.dataset?.msg || "Has encès la PS3!";
    window.dispatchEvent(new CustomEvent("ia-habla", {
      detail: { texto: mensaje }
    }));
  }
</script>

<style is:global>
  .ps3 {
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 5%;
    right: 20%;
    user-select: none;
    display: flex;
  }

  .ps3-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .mando-img {
    position: absolute;
    width: 48px;
    height: 32px;
    object-fit: contain;
    cursor: pointer;
  }

  .mando-left {
    bottom: 10%;
    right: 0;
  }

  .mando-right {
    bottom: 0;
    right: 25%;
    transform: scaleX(-1);
  }
</style>
