---
import Window from "./Window.astro";

const { children } = Astro.slots;
---

<div class="room">
  <div class="wall left-wall"></div>
  <div class="wall front-wall"></div>
  <div class="wall right-wall">
    <Window />
  </div>
  <div class="floor">
    <slot />
  </div>
</div>

<style>
  .room {
    border-radius: 10px;
    width: 90%;
    height: 90%;
    perspective: 1000px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1150px;
  }

  .wall {
    flex: 8;
    background: linear-gradient(
      90deg,
      #1e1534 20%,
      #281d44 20%,
      #281d44 40%,
      #1e1534 40%,
      #1e1534 60%,
      #281d44 60%,
      #281d44 80%,
      #1e1534 80%
    );
    background-size: 50px 100%;
  }

  .wall.left-wall,
  .wall.right-wall {
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
  }

  .wall.front-wall {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .wall.left-wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform-origin: left center;
    transform: rotateY(-90deg) translateX(-70vw);
  }

  .wall.front-wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(-70vw);
  }

  .wall.right-wall {
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 100%;
    transform-origin: right center;
    transform: rotateY(90deg) translateX(70vw);
  }

  .floor {
    flex: 2;
    background-color: #1b1b28;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
  }
</style>
