---
import { Icon } from "astro-icon/components";
import type { Lang } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<form
    name="contact"
    method="POST"
    netlify
    netlify-honeypot="bot-field"
    action="/sendedemail/"
    class="contact-form box-card"
>
    <input type="hidden" name="form-name" value="contact" />
    <input type="hidden" name="bot-field" />

    <h2 class="subtitle-contact">{t("contact.form.title")}</h2>

    <label>
        {t("contact.form.fullName")} *
        <input
            type="text"
            name="name"
            required
            placeholder={t("contact.form.fullNamePlaceholder")}
        />
    </label>

    <label>
        {t("contact.form.email")} *
        <input
            type="email"
            name="email"
            required
            placeholder={t("contact.form.emailPlaceholder")}
        />
    </label>

    <label>
        {t("contact.form.subject")} *
        <input
            type="text"
            name="subject"
            required
            placeholder={t("contact.form.subjectPlaceholder")}
        />
    </label>

    <label>
        {t("contact.form.message")} *
        <textarea
            name="message"
            required
            placeholder={t("contact.form.messagePlaceholder")}></textarea>
    </label>

    <button type="submit">
        <Icon name="mdi:send" class="send-icon" />
        <span>{t("contact.form.sendButton")}</span>
    </button>
</form>

<style>
    .contact-form {
        padding: 2rem;
        border-radius: 1rem;
        background-color: var(--card-glass);
    }

    textarea {
        resize: none;
        min-height: 100px;
    }

    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    input,
    textarea {
        margin-top: 0.5rem;
        padding: 0.75rem;
        border-radius: 0.5rem;
        border: 2px solid;
        border-color: var(--bg-secondary);
    }

    button {
        margin-top: 30px;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        border: none;
        background: var(--purple-dark);
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        color: var(--text-primary);
    }

    button:hover .send-icon {
        animation: bounce 0.6s;
        filter: drop-shadow(0 0 10px var(--purple-dark))
            drop-shadow(0 0 40px var(--purple-dark))
            drop-shadow(0 0 80px var(--purple-dark));
        transition: filter 1s ease;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-6px);
        }
    }
</style>
