---
import { Icon } from "astro-icon/components";
import type { Lang } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

import Status from "../common/Status.astro";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="contact-info box-card">
    <h2 class="subtitle-contact">{t("contact.info.title")}</h2>

    <ul class="info-list">
        <li>
            <Icon name="mdi:email" class="contact-icon" />
            <a href="mailto:ericperezvera02@gmail.com">
                <div>
                    <span class="social-name">{t("contact.info.email")}</span>
                    <span class="social-link">ericperezvera02@gmail.com</span>
                </div>
            </a>
        </li>
        <li>
            <Icon name="mdi:linkedin" class="contact-icon" />
            <a
                href="https://www.linkedin.com/in/ericperezvera"
                target="_blank"
                rel="noopener noreferrer"
            >
                <div>
                    <span class="social-name">LinkedIn</span>
                    <span class="social-link"
                        >linkedin.com/in/ericperezvera</span
                    >
                </div>
            </a>
        </li>
        <li>
            <Icon name="mdi:whatsapp" class="contact-icon" />
            <a
                href="https://wa.me/611489590"
                target="_blank"
                rel="noopener noreferrer"
            >
                <div>
                    <span class="social-name">{t("contact.info.whatsapp")}</span
                    >
                    <span class="social-link">wa.me/611489590</span>
                </div>
            </a>
        </li>
        <li>
            <Icon name="mdi:phone" class="contact-icon" />
            <a href="tel:+34611489590">
                <div>
                    <span class="social-name">{t("contact.info.phone")}</span>
                    <span class="social-link">+34 611 48 95 90</span>
                </div>
            </a>
        </li>
        <li>
            <Icon name="mdi:map-marker" class="contact-icon" />
            <a
                href="https://maps.app.goo.gl/aChFM2tCbQNzLkAG6"
                target="_blank"
                rel="noopener noreferrer"
            >
                <div>
                    <span class="social-name">{t("contact.info.location")}</span
                    >
                    <span class="social-link">Terrassa, Barcelona</span>
                </div>
            </a>
        </li>
    </ul>

    <hr />

    <Status lang={lang} />
</div>

<style>
    .contact-info {
        padding: clamp(1rem, 5vw, 2rem);
        border-radius: 1rem;
        background-color: var(--card-glass);
    }

    .info-list {
        list-style: none;
        display: grid;
        row-gap: 15px;
        padding: 5px;
    }

    .info-list li {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
        gap: 15px;
    }

    .info-list li:hover .social-link {
        color: var(--purple-dark);
    }

    .info-list div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        /* gap: 5px; */
    }

    .social-name {
        font-size: 14px;
    }

    .social-link {
        font-size: 18px;
        font-weight: bold;
    }

    .contact-icon {
        font-size: 30px;
    }

    hr {
        margin: 1.5rem 0;
        border: none;
        border-top: 1px solid var(--card-glass);
    }
</style>
