<header class="top-bar">
  <div class="icon-wrapper" data-tooltip="Idioma">
    <div class="language-selector" id="languageSelector">
      <div class="selected-language" id="selectedLanguage">
        <img src="/images/ingles.png" alt="Bandera de Español" />
      </div>
      <div class="language-options">
        <div data-lang="en">
          <img src="/images/ingles.png" alt="Bandera de Inglés" />
        </div>
        <div data-lang="es">
          <img src="/images/espana.png" alt="Bandera de Español" />
        </div>
        <div data-lang="ca">
          <img src="/images/catala.png" alt="Bandera de Catalán" />
        </div>
      </div>
    </div>
  </div>
</header>
