---
import "../css/components/navbar.css";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import imageAvatar from "../assets/images/avatar.png";

import ThemeIcon from "./ThemeIcon.astro";
---

<nav class="navbar">
  <ul class="navbar-nav">
    <!-- Logo principal -->
    <li class="logo">
      <a href="/" class="nav-link">
        <span class="link-text logo-text" id="menu-menu">Main</span>
        <Icon
          name="mdi:chevron-double-right"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="nav-icon"
        />
      </a>
    </li>

    <!-- Inicio -->
    <li class="nav-item">
      <a href="/" class="nav-link">
        <Image src={imageAvatar} alt="avatar" class="nav-icon" />
        <span class="link-text" id="menu-home">Home</span>
      </a>
    </li>

    <!-- About -->
    <li class="nav-item">
      <a href="/pages/about.html" class="nav-link">
        <Icon
          name="mdi:account"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="nav-icon"
        />
        <span class="link-text" id="menu-about">About</span>
      </a>
    </li>

    <!-- Projects -->
    <li class="nav-item">
      <a href="/#projects" class="nav-link">
        <Icon
          name="mdi:code-tags"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="nav-icon"
        />
        <span class="link-text" id="menu-projects">Projects</span>
      </a>
    </li>

    <!-- Stack -->
    <li class="nav-item">
      <a href="/pages/stack.html" class="nav-link">
          <Icon
          name="mdi:stack-overflow"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="nav-icon"
        />
        <span class="link-text" id="menu-stack">Stack</span>
      </a>
    </li>

    <!-- Contact -->
    <li class="nav-item">
      <a href="/pages/contact.html" class="nav-link">
          <Icon
          name="mdi:account-box-outline"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="nav-icon"
        />
        <span class="link-text" id="menu-contact">Contact</span>
      </a>
    </li>

    <!-- Theme Switcher -->
    <li class="nav-item">
      <a href="#" class="nav-link" id="theme-button">
        <ThemeIcon />
        <span class="link-text" id="menu-theme">Theme</span>
      </a>
    </li>
  </ul>
</nav>

<script src="/js/theme.js" defer></script>
