---
import { getI18nStaticPaths } from '../../i18n/utils';

export function getStaticPaths() {
  return getI18nStaticPaths();
}

import Title from "../../components/common/PageTitle.astro";
import StackGrid from "../../components/stack/StackGrid.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="content">
    <Title text="STACK" id="stackTitle" />
      <StackGrid />
  </main>
</BaseLayout>
