---
import { getI18nStaticPaths, useTranslations } from '../../i18n/utils';
import type { Lang } from '../../i18n/ui';

export async function getStaticPaths() {
  return getI18nStaticPaths();
}

const lang = Astro.params.lang as Lang;
const t = useTranslations(lang);

import Title from "../../components/common/PageTitle.astro";
import StackGrid from "../../components/stack/StackGrid.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout lang={lang}>
  <main class="content">
    <Title text={t("stack.title")} id="stackTitle" />
    <StackGrid lang={lang} />
  </main>
</BaseLayout>
