---
// src/components/ProfileHeader.astro
import { Image } from "astro:assets";
import Contributions from "../../assets/images/github/contributions.png";
---

<div class="box-card">
    <img
        src="https://ghchart.rshah.org/CIRE5902"
        class="image-contributions"
        alt="contributions"
    />
</div>

<style>
    div {
        height: 100%;
        width: 100%;
    }
    .image-contributions {
        height: 90%;
        width: 95%;
        padding: 10px;
    }
</style>
