<div class="box-card">
    <h4 class="github-title">Github Contributions</h4>
    <img
        src="https://ghchart.rshah.org/CIRE5902"
        class="image-contributions"
        alt="contributions"
    />
</div>

<style>
    .image-contributions {
        padding: 10px;
    }
    .github-title {
        margin: 0;
        padding: 10px;
    }
</style>
