---
import type { Lang } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="box-card">
  <h4 class="github-title">{t("github.title")}</h4>
  <div class="contributions-scroll">
    <img
      src="https://ghchart.rshah.org/CIRE5902"
      class="image-contributions"
      alt="contributions"
    />
  </div>
</div>

<style>
  .github-title {
    margin: 0;
    padding: 10px;
  }

  .contributions-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  .image-contributions {
    padding: 10px; 
    min-width: 650px;
    height: auto;
    width: 100%;
  }
</style>
