---
// src/components/ProfileHeader.astro
import { Image } from "astro:assets";
import imageAvatar from "../../assets/images/avatar.png";
import { Icon } from "astro-icon/components";
---

<div class="content-profile">
    <Image src={imageAvatar} class="main-avatar" alt="avatar" />
    <h1 class="main-title" id="main-title">
        Hi, it's <span class="animate-title">Éric</span>
    </h1>
    <h2 id="main-description">
        I'm a <span class="animate-description">Web Developer</span>
    </h2>
    <div class="main-slogan">
        <p id="main-slogan">...sin tiempo para rendirse</p>
        <p>⚡ ✌️</p>
    </div>

    <a class="btn btn-resume" target="_blank" download>
        <Icon name="mdi:file-account" />

        <p id="btn-cv">Resume</p>
        <i class="fa fa-hand-pointer interaction-icon"></i>
    </a>

    <div class="btn btn-available">
        <Icon name="mdi:event-available-outline" />

        <p id="btn-available">Available</p>
        <i class="fa fa-hand-pointer interaction-icon"></i>
    </div>

    <div class="social-links">
        <a
            href="https://www.linkedin.com/in/ericperezvera"
            target="_blank"
            aria-label="LinkedIn"
        >
            <Icon name="mdi:linkedin" class="social-icon" />
        </a>

        <a
            href="mailto:ericperezvera02@gmail.com"
            target="_blank"
            aria-label="Email"
        >
            <Icon name="mdi:email" class="social-icon" />
        </a>

        <a
            href="https://github.com/CIRE5902"
            target="_blank"
            aria-label="GitHub"
        >
            <Icon name="mdi:github" class="social-icon" />
        </a>

        <a
            href="https://www.figma.com/@d5318559_4aaa_4"
            target="_blank"
            aria-label="Figma"
        >
            <Icon name="solar:figma-bold" class="social-icon" />
        </a>
    </div>
</div>

<style>
    .main-avatar {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .main-title {
        width: auto;
    }

    .main-slogan {
        color: #a285d1;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .btn-resume {
        /* background-color: #a285d1; */
        text-decoration: none;
        transition: 0.4s ease;
        border: 2px solid #a285d1;
    }
    .btn-resume:hover {
        background-color: #a285d1;
        color: #ffffff;
        fill: #ffffff;
        box-shadow:
            0 0 10px #a285d1,
            0 0 40px #a285d1,
            0 0 80px #a285d1;
    }

    .btn-resume:hover::before,
    .btn-resume:hover::after {
        border-color: transparent;
    }

    .btn-available svg,
    .btn-resume svg {
        width: 30px;
        height: 30px;
        fill: currentColor;
    }

    .btn-available {
        background-color: #a285d1;
    }

    .btn-available:hover {
        background: transparent;
        border: 2px #a285d1;
        /* color: #ffffff;  */
        box-shadow:
            0 0 10px #a285d1,
            0 0 40px #a285d1,
            0 0 80px #a285d1;
    }

    .btn-available:hover::before,
    .btn-available:hover::after {
        border-color: transparent;
    }

    .animate-title {
        animation: animate 5s linear infinite;
    }

    .animate-description {
        white-space: nowrap;
        width: 13ch;
        color: #a285d1;
        overflow: hidden;
    }

    @keyframes animate {
        0%,
        18%,
        20%,
        50.1%,
        60%,
        65.1%,
        80%,
        90.1%,
        92% {
            color: #a285d1;
            /* Un tono lila que combina con la imagen */
            text-shadow: none;
        }

        18.1%,
        20.1%,
        30%,
        50%,
        60.1%,
        65%,
        80.1%,
        90%,
        92.1%,
        100% {
            color: #fff;
            text-shadow:
                0 0 10px #a285d1,
                0 0 20px #a285d1,
                0 0 40px #a285d1,
                0 0 80px #a285d1,
                0 0 160px #a285d1;
        }
    }

    .social-links {
        margin-top: 20px;
        margin-bottom: 100px;
        display: flex;
        gap: 40px;
    }

    .social-links a img:hover {
        transform: scale(1.1);
    }

    .social-links svg {
        width: 54px;
        height: 54px;
        transition: transform 0.3s ease;
        fill: var(--text-primary);
        color: var(--text-primary);
    }

    .social-links svg:hover {
        color: #a285d1;
        fill: #a285d1;
        filter: drop-shadow(0 0 6px #a285d1);
        transition: all 0.3s ease;
    }

    .content-profile {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>
