---
import "../css/base/base.css";
import "../css/components/navbar.css";
// import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
// import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio de Éric</title>

    <script src="/js/theme.js" defer></script>
    <script src="/js/language.js" defer></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  </head>
  <body data-page="home">
    <!-- <Header /> -->
    <Navbar />
    <slot />
    <!-- <Footer /> -->
  </body>
</html>
