---
import type { Lang } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";

import "../css/main.css";

import Navbar from "../components/common/Navbar.astro";
import LanguagePicker from "../components/common/LanguagePicker.astro";

import Chat from "../components/common/Chat.astro";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{t("siteTitle")}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <slot name="head" />
  </head>
  <body data-page="home">
    <LanguagePicker lang={lang} />
    <Navbar lang={lang} />
    <slot />
  </body>
</html>
