---
// src/components/stack/Stack.astro
import StackCategory from './StackCategory.astro'

const categories = [
  {
    title: "Develop",
    subcategories: [
      {
        title: "Languages",
        items: [
          { name: "JavaScript", icon: "../icons/javascript.svg" },
          { name: "CSS", icon: "../icons/css.svg" },
          { name: "HTML", icon: "../icons/html.svg" },
          { name: "SQL", icon: "../icons/sql.svg" },
          { name: "PHP", icon: "../icons/php.svg" },
          { name: "Java", icon: "../icons/java.svg" },
          { name: "C#", icon: "../icons/csharp.svg" },
          { name: "TypeScript", icon: "../icons/typescript.svg" },
          { name: "Python", icon: "../icons/python.svg" },
        ]
      },
      {
        title: "Frameworks and Libraries",
        items: [
          { name: "Vue", icon: "../icons/vue.svg" },
          { name: "Node.js", icon: "../icons/node.svg" },
          { name: "Laravel", icon: "../icons/laravel.svg" },
          { name: "Nuxt.js", icon: "../icons/nuxt.svg" },
          { name: "Angular", icon: "../icons/angular.svg" },
          { name: "React", icon: "../icons/react.svg" },
          { name: "Next.js", icon: "../icons/next.svg" },
          { name: "Tailwind", icon: "../icons/tailwind.svg" },
          { name: "Bootstrap", icon: "../icons/bootstrap.svg" },
        ]
      },
    ]
  },
]
---

<div class="stack">
  {categories.map((category) => (
    <StackCategory title={category.title} subcategories={category.subcategories} />
  ))}
</div>

<style>
.stack {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}
</style>
